@mixin animated-button($bgColor, $color){ 
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    border: 3px solid $color;
    background-image: $bgColor;
    color: white;
    padding: 0 1em;
    border-radius: 0.25em;
  
    position: relative;
    isolation: isolate;
  
    &:hover{
      color: $color;
      scale: 0.975;
      transition: scale 50ms;
    }

    &:after{
        content: '';
        position: absolute;
        z-index: -1;
        background-color: $white;
        color: $color;
        inset: 0;
    
        scale: 0 1;
        transform-origin: right;
        transition: scale 250ms;
    }

    &:hover::after,
    &:focus-visible::after{
        scale: 1 1;
        transform-origin: left;
    }

  }

@mixin skillTag($color){
  padding: .25rem;
  margin: .25rem;
  border: 1px solid $color;
  color: $color;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color .5s, color .5s;

  &:hover{
      cursor: pointer;
      background-color: $color;
      color: white;
  }
}