@mixin animated-button($bgColor, $color){ 
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    // border-image: 3px solid $bgColor 25;
    border: 3px solid $color;
    // background-color: transparent;
    background-image: $bgColor;
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.25em;
  
    position: relative;
    isolation: isolate;
  
    &:hover{
      // color: transparent;
      color: $color;
      scale: 0.975;
      transition: scale 50ms;
    }

    &:after{
        content: '';
        position: absolute;
        z-index: -1;
        // background-color: $color;
        background-color: $white;
        color: $color;
        inset: 0;
    
        scale: 0 1;
        transform-origin: right;
        transition: scale 250ms;
    }

    &:hover::after,
    &:focus-visible::after{
        scale: 1 1;
        transform-origin: left;
    }

  }