// colors
// Palette: https://colorhunt.co/palette/10439f874cccc65bcff27bbd
$white: #F6F5F2;
$black: #1d1d1d;
$darkGrey: #9d9d9d;
$midGrey: #999999;
$lightGrey: #ececec;
$darkBlue: #161A42;
$lightBlue: #86afea;
$blue: #10439F;
$darkViolet: #1e0342;
$violet: #874CCC;
$lightViolet: #C65BCF;
$pink: #F27BBD;

// Devices
$phone: 576px;
$tablet: 768px;
$desktop: 992px;
$large-desktop: 1200px;
$largest-desktop: 1400px;