// colors
// Palette: https://colorhunt.co/palette/10439f874cccc65bcff27bbd
$white: #F6F5F2;
$black: #1d1d1d;
$blue: #10439F;
$darkerViolet: #1e0342;
$darkViolet: #874CCC;
$lightViolet: #C65BCF;
$pink: #F27BBD;