.figtree-regular {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.figtree-bold {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.intro {
  position: relative;
}

.intro-wrapper {
  align-items: center;
}
.intro-wrapper:after {
  content: "\f1c9";
  font-family: bootstrap-icons !important;
  font-size: 25rem;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -0.125em;
  -webkit-font-smoothing: antialiased;
  margin-right: 0.5rem;
  height: 100%;
  width: 100%;
  position: absolute;
  top: -60px;
  right: -260px;
  z-index: -1;
  opacity: 0.1;
  mix-blend-mode: hard-light;
}

.download-resume-btn {
  display: flex;
}
.download-resume-btn .animated-button {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  border: 3px solid #F27BBD;
  background-image: linear-gradient(to right, #C65BCF, #F27BBD);
  color: white;
  padding: 0.5em 1em;
  border-radius: 0.25em;
  position: relative;
  isolation: isolate;
}
.download-resume-btn .animated-button:hover {
  color: #F27BBD;
  scale: 0.975;
  transition: scale 50ms;
}
.download-resume-btn .animated-button:after {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #F6F5F2;
  color: #F27BBD;
  inset: 0;
  scale: 0 1;
  transform-origin: right;
  transition: scale 250ms;
}
.download-resume-btn .animated-button:hover::after, .download-resume-btn .animated-button:focus-visible::after {
  scale: 1 1;
  transform-origin: left;
}

@media screen and (max-width: 991.98px) {
  .resume {
    margin-top: 20px;
  }
}