.figtree-regular {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.figtree-bold {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.intro-wrapper {
  justify-content: center;
}
.intro-wrapper .intro {
  position: relative;
}
@media screen and (max-width: 576px) {
  .intro-wrapper .intro {
    width: 85%;
  }
}
.intro-wrapper .intro > .row {
  align-items: center;
}
@media screen and (min-width: 992px) and (max-width: 1400px) {
  .intro-wrapper .intro > .row {
    align-items: flex-start;
  }
}
@media screen and (max-width: 576px) {
  .intro-wrapper .intro > .row .profile-img {
    text-align: center;
    margin-bottom: 20px;
  }
}
.intro-wrapper .intro > .row .profile-img img {
  border-radius: 50%;
}
@media screen and (min-width: 576px) {
  .intro-wrapper .intro > .row .profile-img img {
    width: 100%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .intro-wrapper .intro > .row .intro-content {
    font-size: 14px;
  }
}
.intro-wrapper .intro > .row .intro-content .contact-links {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}
.intro-wrapper .intro > .row .intro-content .contact-links i {
  font-style: normal;
}
.intro-wrapper .intro > .row .intro-content .contact-links i::before {
  border: 1px solid #1d1d1d;
  padding: 0.3rem;
  border-radius: 50%;
}
.intro-wrapper .intro > .row .intro-content .contact-links i a {
  font-size: 0.9rem;
  padding-left: 0.5rem;
  color: #874CCC;
  text-decoration: none;
}
.intro-wrapper .resume {
  margin-bottom: 40px;
}
@media screen and (max-width: 992px) {
  .intro-wrapper .resume {
    margin-top: 20px;
  }
}