.figtree-regular {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.figtree-bold {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

@media screen and (max-width: 576px) {
  .container {
    width: 85%;
  }
}

nav.navbar {
  margin-bottom: remify(20px);
  align-items: baseline;
}
nav.navbar h1 {
  font-size: 3rem;
  background: linear-gradient(to right, #C65BCF, #F27BBD);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
@media screen and (max-width: 576px) {
  nav.navbar h1 {
    font-size: 2.1rem;
  }
}
nav.navbar h1 a {
  text-decoration: none;
}
nav.navbar button.navbar-toggler {
  order: 2;
  padding: 0.6rem;
  border: 3px solid var(--bs-navbar-color);
  border-radius: 50%;
}
nav.navbar .navbar-collapse {
  justify-content: flex-end;
  order: 2;
}
@media screen and (max-width: 992px) {
  nav.navbar .navbar-collapse {
    justify-content: flex-end;
    order: 3;
  }
}
nav.navbar .navbar-collapse .navbar-nav .nav-item {
  color: #9d9d9d;
}
nav.navbar .navbar-collapse .navbar-nav .nav-item-active {
  color: lightgrey !important;
}
nav.navbar .navbar-collapse .social-links {
  display: flex;
}
@media screen and (max-width: 992px) {
  nav.navbar .navbar-collapse .social-links {
    padding-top: 10px;
  }
}
@media screen and (min-width: 992px) {
  nav.navbar .navbar-collapse .social-links {
    margin-left: 1rem;
  }
}
nav.navbar .navbar-collapse .social-links a {
  margin-right: 0.5rem;
  color: #874CCC;
}
nav.navbar .navbar-collapse .social-links a i.bi::before {
  font-size: x-large;
}