.figtree-regular {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.figtree-bold {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.accordion {
  margin-bottom: 40px;
}
.accordion .card-header {
  border: 2px solid #10439F;
}

button.btn.accordion-heading {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-left: 0;
  padding-inline-start: 0px;
  --bs-btn-border-radius: 0;
  border-bottom: 2px solid #999999;
  transition: background-color 0.2s, padding-left 0.2s;
}
button.btn.accordion-heading.open {
  padding-left: 1rem;
  background-color: #ececec;
}
button.btn.accordion-heading h3.btn-link {
  font-size: 1.15rem;
  text-decoration: none;
  transition: color 0.2s;
}
button.btn.accordion-heading h3.btn-link:hover {
  color: #9d9d9d;
}
button.btn.accordion-heading i.bi {
  color: #F27BBD;
  font-weight: 700;
}