// Sass partials
@import '../../../sass/abstracts/variables';
@import '../../../sass/abstracts/fonts';
@import '../../../sass/abstracts/mixins';

.form-wrapper{
    min-height: 70px;
    align-items: center;
    margin-bottom: 20px;

    .animated-button{
        @include animated-button($pink);
        margin-bottom: 10px;
    }

    small.grouping-labels{
        min-width: 100px;
    }

    .form-group{
        min-width: 7rem;
    }
}

.portfolio-wrapper{
    justify-content: space-between;

    .card-wrapper{
        border: 1px solid red;
        // max-width: 380px; // use col- ?
        // min-width: 380px;
        margin-bottom: 1.5rem;
    }
}

