<div class="portfolio-section container">

    <div class="row form-wrapper">
        <!-- Buttons -->
        <div class="button-wrapper col-lg-2">
            <button 
                class="animated-button"
                (click)="isCollapsed = !isCollapsed">
                Filter
            </button>
            <button 
                [hidden]="!filtering"
                class="animated-button"
                (click)="resetFilters()">
                Reset
            </button>
        </div>
        <!-- / Buttons -->
        <!-- Form -->
        <div [collapse]="isCollapsed" class="col-lg-10">
            
            <form>
                <div class="row mx-0">
                    <div class="col d-lg-flex">
                        <!-- Languages -->
                        <small class="grouping-labels"><b>Languages</b></small>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox"
                                    name="html"
                                    class="form-check-input"
                                    [(ngModel)]="html"
                                    (change)="filterProjects()">
                                <label class="form-check-label small">HTML5</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox"
                                    name="css"
                                    class="form-check-input"
                                    [(ngModel)]="css"
                                    (change)="filterProjects()">
                                <label class="form-check-label small">CSS3</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox"
                                    name="sass"
                                    class="form-check-input"
                                    [(ngModel)]="sass"
                                    (change)="filterProjects()">
                                <label class="form-check-label small">Saas</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox"
                                    name="javascript"
                                    class="form-check-input"
                                    [(ngModel)]="javascript"
                                    (change)="filterProjects()">
                                <label class="form-check-label small">JavaScript</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox"
                                    name="typescript"
                                    class="form-check-input"
                                    [(ngModel)]="typescript"
                                    (change)="filterProjects()">
                                <label class="form-check-label small">TypeScript</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox"
                                    name="php"
                                    class="form-check-input"
                                    [(ngModel)]="php"
                                    (change)="filterProjects()">
                                <label class="form-check-label small">PHP</label>
                            </div>
                        </div>
                    </div>
                    <!-- Frameworks (& others)-->
                    <div class="col d-lg-flex">
                        <small class="grouping-labels"><b>Others</b></small>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox"
                                    name="ng"
                                    class="form-check-input"
                                    [(ngModel)]="angular"
                                    (change)="filterProjects()">
                                <label class="form-check-label small">Angular</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox"
                                    name="react"
                                    class="form-check-input"
                                    [(ngModel)]="react"
                                    (change)="filterProjects()">
                                <label class="form-check-label small">React</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox"
                                    name="nodejs"
                                    class="form-check-input"
                                    [(ngModel)]="nodejs"
                                    (change)="filterProjects()">
                                <label class="form-check-label small">NodeJS</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox"
                                    name="json"
                                    class="form-check-input"
                                    [(ngModel)]="json"
                                    (change)="filterProjects()">
                                <label class="form-check-label small">JSON</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox"
                                    name="api"
                                    class="form-check-input"
                                    [(ngModel)]="api"
                                    (change)="filterProjects()">
                                <label class="form-check-label small">REST API</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="form-check">
                                <input type="checkbox"
                                    name="wordpress"
                                    class="form-check-input"
                                    [(ngModel)]="wordpress"
                                    (change)="filterProjects()">
                                <label class="form-check-label small">Wordpress</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div><!-- / Form -->
    </div>

    <!-- Portfolio -->
    <div class="row portfolio-wrapper">
        <div 
            *ngFor="let project of projects"
            class="card-wrapper col-lg-4 col-md-6">
            <app-project-card 
                [project]="project"
                (dataEvent)="filterFromCardTags($event)">
                <!-- Project -->
            </app-project-card>
        </div>
    </div><!-- / Portfolio -->
</div>

