<div class="container">
    <div class="intro-wrapper row">
        <div class="intro col-lg-6">
            <div class="row">
                <div class="profile-img col-sm-5">
                    <img src="assets/img/profile-pic.png" alt="profile-picture">
                </div>
                <div class="intro-content col-sm-7">
                    <p>Front End developer in HTML5, CSS3 and JS, experienced with CMSs like Wordpress and frameworks like React (JS) or Laravel (PHP), and control version with Git.</p>
                    <p>My Communications background and mindset, span from graphic design to video production. Fluent in English and Italian, native Spanish and Catalan and basic Czech.</p>
                    <!-- Contact links -->
                    <div class="contact-links">
                        <i class="bi bi-telephone"><a href="tel:+420729733994">+420729733994</a></i>
                        <i class="bi bi-envelope-at"><a href="mailto:jlinaresmar@gmail.com">jlinaresmar&#64;gmail.com</a></i>
                    </div>
                </div>
            </div>
        </div>
        <div class="resume col-lg-6">
            <app-resume></app-resume>
        </div>
    </div>
</div>
