// Sass partials
@import '../../../sass/abstracts/variables';
@import '../../../sass/abstracts/fonts';
@import '../../../sass/abstracts/mixins';

.intro-wrapper{
    justify-content: center;
}

.intro{
    position: relative;

    @include phone-down{
        width: 85%;
    }

    > .row{
        align-items: center;

        .profile-img{

            @include phone-down{
                text-align: center;
                margin-bottom: 20px;
            }

            img{
                border-radius: 50%;

                @include phone-up{
                    width: 100%;
                }
            }
            
        }
    }
}



.download-resume-btn{
    display: flex;

    .animated-button{
        @include animated-button(linear-gradient(to right, $lightViolet, $pink), $pink);
    }
}

@media screen and (max-width: 991.98px){
    .resume{
        margin-top: 20px;
    }
} 

