// Sass partials
@import '../../../sass/abstracts/variables';
@import '../../../sass/abstracts/fonts';
@import '../../../sass/abstracts/mixins';

.intro-wrapper{
    justify-content: center;

    .intro{
        position: relative;
    
        @include phone-down{
            width: 85%;
        }
    
        > .row{
            align-items: center;

            @include desktop-to-largest-desktop{
                align-items: flex-start;
            }
    
            .profile-img{
    
                @include phone-down{
                    text-align: center;
                    margin-bottom: 20px;
                }
    
                img{
                    border-radius: 50%;
    
                    @include phone-up{
                        width: 100%;
                    }
                }
                
            }

            .intro-content{
                
                @include desktop-to-large-desktop{
                    font-size: 14px;
                }

                .contact-links{
                    display: flex;
                    justify-content: space-between;
                    margin-bottom: 1rem;
                
                    i{
                        font-style: normal;
                
                        &::before{
                            border: 1px solid $black;
                            padding: .3rem;
                            border-radius: 50%;
                        }
                
                        a{
                            font-size: 0.9rem;
                            padding-left: .5rem;
                            color: $violet;
                            text-decoration: none;
                        }
                    }
                }

            }
        }
    }

    .resume{
        margin-bottom: 40px;

        @include desktop-down{
            margin-top: 20px;
        }
    }
}

