<div class="container poppins-regular">
    <!-- Interactive resume -->
    <accordion [isAnimated]="true">
        <!-- Experience -->
        <accordion-group [(isOpen)]="experienceIsOpen">
            <button 
                accordion-heading
                class="accordion-heading btn">
                <h4 class="btn-link">Work Experience</h4>
                <i [hidden]="experienceIsOpen" class="bi bi-chevron-down"></i>
                <i [hidden]="!experienceIsOpen" class="bi bi-chevron-up"></i>
            </button>
            <div
                *ngFor="let experience of experiences">
                <app-experience [experience]="experience"></app-experience>
            </div>  
        </accordion-group>
        <!-- Education -->
        <accordion-group [(isOpen)]="educationIsOpen">
            <button 
                accordion-heading
                class="accordion-heading btn">
                <h4 class="btn-link">Education</h4>
                <i [hidden]="educationIsOpen" class="bi bi-chevron-down"></i>
                <i [hidden]="!educationIsOpen" class="bi bi-chevron-up"></i>
            </button>
            <div
                *ngFor="let education of educations">
                <app-education [education]="education"></app-education>
            </div>
        </accordion-group>
        <!-- Languages -->
        <accordion-group [(isOpen)]="languagesIsOpen">
            <button 
                accordion-heading
                class="accordion-heading btn">
                <h4 class="btn-link">Languages</h4>
                <i [hidden]="languagesIsOpen" class="bi bi-chevron-down"></i>
                <i [hidden]="!languagesIsOpen" class="bi bi-chevron-up"></i>
            </button>
            <div 
                *ngFor="let language of languages">
                <app-languages [language]="language"></app-languages>
            </div>
        </accordion-group>
        <!-- Skills -->
        <accordion-group [(isOpen)]="skillsIsOpen">
            <button 
                accordion-heading
                class="accordion-heading btn">
                <h4 class="btn-link">Skills</h4>
                <i [hidden]="skillsIsOpen" class="bi bi-chevron-down"></i>
                <i [hidden]="!skillsIsOpen" class="bi bi-chevron-up"></i>
            </button>
            <app-skills></app-skills>
        </accordion-group>
    </accordion>
    <!-- PDF resume -->
    <button
        class="animated-button"  
        (click)="downloadFile()">
        Download PDF Resume
    </button>

</div>
