<div class="container">
    <!-- Interactive resume -->
    <accordion [isAnimated]="true">
        <accordion-group [(isOpen)]="experienceIsOpen">
            <button 
                accordion-heading
                class="accordion-heading btn">
                <h4 class="btn-link">Work Experience</h4>
                <i [hidden]="experienceIsOpen" class="bi bi-chevron-down"></i>
                <i [hidden]="!experienceIsOpen" class="bi bi-chevron-up"></i>
            </button>
            <p>Aute minim proident sit dolore esse non aute fugiat laboris excepteur dolor duis. Nostrud qui et laboris fugiat ullamco sit mollit anim esse exercitation esse ullamco. Cillum qui excepteur nulla culpa anim eu magna aute nisi cupidatat. Dolor pariatur Lorem labore incididunt. Nulla enim nulla amet amet reprehenderit commodo. Esse sint reprehenderit officia qui dolore exercitation deserunt mollit dolore in commodo esse ut.</p>
        </accordion-group>
        <accordion-group [(isOpen)]="educationIsOpen">
            <button 
                accordion-heading
                class="accordion-heading btn">
                <h4 class="btn-link">Education</h4>
                <i [hidden]="educationIsOpen" class="bi bi-chevron-down"></i>
                <i [hidden]="!educationIsOpen" class="bi bi-chevron-up"></i>
            </button>
            <p>Aute minim proident sit dolore esse non aute fugiat laboris excepteur dolor duis. Nostrud qui et laboris fugiat ullamco sit mollit anim esse exercitation esse ullamco. Cillum qui excepteur nulla culpa anim eu magna aute nisi cupidatat. Dolor pariatur Lorem labore incididunt. Nulla enim nulla amet amet reprehenderit commodo. Esse sint reprehenderit officia qui dolore exercitation deserunt mollit dolore in commodo esse ut.</p>
        </accordion-group>
        <accordion-group [(isOpen)]="certificatesIsOpen">
            <button 
                accordion-heading
                class="accordion-heading btn">
                <h4 class="btn-link">Certificates</h4>
                <i [hidden]="certificatesIsOpen" class="bi bi-chevron-down"></i>
                <i [hidden]="!certificatesIsOpen" class="bi bi-chevron-up"></i>
            </button>
            <p>Aute minim proident sit dolore esse non aute fugiat laboris excepteur dolor duis. Nostrud qui et laboris fugiat ullamco sit mollit anim esse exercitation esse ullamco. Cillum qui excepteur nulla culpa anim eu magna aute nisi cupidatat. Dolor pariatur Lorem labore incididunt. Nulla enim nulla amet amet reprehenderit commodo. Esse sint reprehenderit officia qui dolore exercitation deserunt mollit dolore in commodo esse ut.</p>
        </accordion-group>
        <accordion-group [(isOpen)]="skillsIsOpen">
            <button 
                accordion-heading
                class="accordion-heading btn">
                <h4 class="btn-link">Skills</h4>
                <i [hidden]="skillsIsOpen" class="bi bi-chevron-down"></i>
                <i [hidden]="!skillsIsOpen" class="bi bi-chevron-up"></i>
            </button>
            <div class="row">
                <div class="col">
                    <h5 class="skills-heading">Languages</h5>
                    <ul class="skills-list">
                        <li class="skill-item"
                            *ngFor="let language of languages">
                            {{ language }}
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h5 class="skills-heading">Frameworks</h5>
                    <ul class="skills-list">
                        <li class="skill-item"
                            *ngFor="let framework of frameworks">
                            {{ framework }}
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h5 class="skills-heading">Others</h5>
                    <ul class="skills-list">
                        <li class="skill-item"
                            *ngFor="let other of others">
                            {{ other }}
                        </li>
                    </ul>
                </div>
            </div> 
        </accordion-group>
    </accordion>
    <!-- PDF resume -->
    <button
        class="btn btn-primary mt-5 shadow border"  
        (click)="downloadFile()">
        Download PDF Resume
    </button>

</div>
