// Sass partials
@import '../../../sass/abstracts/variables';
@import '../../../sass/abstracts/fonts';
@import '../../../sass/abstracts/mixins';

.card-header{
    border: 2px solid $blue;
}

button.btn.accordion-heading{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
    padding-inline-start: 0px;
    --bs-btn-border-radius: 0;
    border-bottom: 2px solid $lightgrey;

    h3.btn-link{
        font-size: 1.15rem;
        text-decoration: none;
        transition: color .2s;

        &:hover{
            color: $darkGrey;
        }
    }

    i.bi{
        color: $pink;
        font-weight: 700;
    }
}