<div class="container">
  <nav class="navbar navbar-expand-lg">
    <!-- Navbar brand -->
    <div class="navbar-brand">
      <h1 class="figtree-bold">
        <a class="home-link" routerLink="/home">Juan Manuel Linares</a>
      </h1>
    <h2>Frontend Developer</h2>
    </div>
    
    <!-- navbar toggler -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Internal links -->
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/home" routerLinkActive="nav-item-active">Home</a>
        <a class="nav-item nav-link" routerLink="/portfolio" routerLinkActive="nav-item-active">Portfolio</a>
        <a class="nav-item nav-link" routerLink="/resume" routerLinkActive="nav-item-active">Resume</a>
      </div>
      <!-- External links -->
      <div class="social-links">
        <a href="https://www.linkedin.com/in/juan-manuel-linares/" target="_blank">
          <i class="bi bi-linkedin"></i>
        </a>
        <a href="https://github.com/jmlinares2019" target="_blank">
          <i class="bi bi-github"></i>
        </a>
      </div>
    </div>
    
</nav>
</div>

