// Sass partials
@import '../../../sass/abstracts/variables';
@import '../../../sass/abstracts/fonts';
@import '../../../sass/abstracts/mixins';

nav.navbar{
    margin-bottom: 20px;
    align-items: baseline;

    h1{
        font-size: 3rem;
        background: linear-gradient(to right, $lightViolet, $pink);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    
    .navbar-collapse{
        justify-content: flex-end;
        order: 2;
    
        .nav-item{
            color: $darkGrey;
        }
        
        .nav-item-active{
            color: lightgrey !important;
        }
    }
    
    .social-links{
        display: flex;
        // order: 2;
    
        a{
            margin-right: .5rem;
            color: $violet;
    
            i.bi{
                &::before{
                    font-size: x-large;
                }
            }
            
        }
    }
}

@media screen and (max-width: 992px){
    .social-links{
        padding-top: 10px;
        // order: 1;
    }

    button.navbar-toggler{
        order: 2;
    }

    .navbar-collapse{
        justify-content: flex-end;
        order: 3;
    }
}

@media screen and (min-width: 992px){
    .social-links{
        margin-left: 1rem;
    } 
}