<div class="card text-center shadow">
    <div class="card-body">
        <h5 class="card-title">{{project.name}}</h5>
        <p class="card-text">{{project.summary}}</p>
        <button class="btn btn-primary" (click)="OpenProjectModal()">View More</button>
    </div>
    <div class="card-footer">
        <div class="d-flex flex-wrap justify-content-center">
            <div *ngFor="let tag of project.tags">
                <span class="tag" [style.backgroundColor]="tag.color">{{tag}}</span>
            </div>
        </div>
    </div>
</div>
