// Sass partials
@import '../../../sass/abstracts/variables';
@import '../../../sass/abstracts/fonts';
@import '../../../sass/abstracts/mixins';

.card{
    max-width: 350px;  // use .col- ?
    min-width: 350px;
    // cursor: pointer;
    border: 1px solid $midGrey;
    transition: background-color .2s;

    &:hover{
        color: $lightViolet;
        background-color: $lightGrey;
    }
}

.card-text{
    font-size: 0.875rem;
    color: $darkGrey;
}

.card-links{
    display: flex;
    align-items: baseline;

    a{
        font-size: x-large;
        color: inherit;
        margin-right: .5rem;
    }
}

.btn{
    @include animated-button(linear-gradient(to right, $violet, $lightViolet), $lightViolet);
}

.card-footer{
    background-color: transparent;
}

.tags-list{
    display: flex;
    flex-wrap: wrap;
}

.tag{
    @include skillTag($midGrey);
    line-height: 2.5;
}

