// Sass partials
@import '../../../sass/abstracts/variables';
@import '../../../sass/abstracts/fonts';
@import '../../../sass/abstracts/mixins';

.card{
    border: 1px solid $midGrey;
    transition: all .2s;

    &:hover{
        background-image: linear-gradient(to right, $lightViolet, $pink);

        .card-text, 
        .tag{
            color: $white;
            border-color: $white;
        }


    }

    @include phone-up{
        max-width: 350px;
        min-width: 350px;
    }
}

.card-text{
    font-size: 0.875rem;
    color: $darkGrey;
}

.card-links{
    display: flex;
    align-items: baseline;

    a{
        font-size: x-large;
        color: inherit;
        margin-right: .5rem;
    }
}

.btn{
    @include animated-button(linear-gradient(to right, $violet, $lightViolet), $lightViolet);
}

.card-footer{
    background-color: transparent;
}

.tags-list{
    display: flex;
    flex-wrap: wrap;
}

.tag{
    @include skillTag($midGrey);
    line-height: 2.5;
}

