/* You can add global styles to this file, and also import other style files */

// Importing Bootstrap SCSS file
@import "../node_modules/bootstrap/scss/bootstrap";

// Importing Bootstrap Icons
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";

// Importing Datepicker SCSS file
@import "../node_modules/ngx-bootstrap/datepicker/bs-datepicker";

// Importing ngx-ui-switch styles
@import '../node_modules/ngx-ui-switch/ui-switch.component.scss';

// Sass partials
@import 'sass/abstracts/variables';
@import 'sass/abstracts/fonts';
@import 'sass/abstracts/mixins';

html{
    font-size: 16px;
    @include tablet-down{
        font-size: 14px;
    }
}

body{
    font-family: "Figtree", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    background-color: $white;
    color: $black;

    padding-top: 10vh;

    // Dark mode
    button.switch{ // only applies here (?)
        margin-right: 1rem;
    
        @include desktop-down{
            margin-bottom: 10px;
        }
    }

    &.night-mode{
        background-color: $black !important;
        color: $white !important;

        h2.job-role,
        h3.resume-section-heading,
        .experience-item-company,
        .experience-item-position,
        .education-title,
        .language-name,
        .skills-heading{
            color: $white;
        }

        button.btn.accordion-heading{
            &.open{
                background-color: transparent;
            }
        }

        button.navbar-toggler{
            color: $white;
            border-color: $white !important;
        }

        .project-link,
        .language-item{
            color: $lightBlue !important;
            border-color: $lightBlue !important;
        }

        .card-title,
        .card-links .bi::before{
            color: $white;            
        }

        .card:hover{
            .card-title,
            .card-links .bi::before{
                color: $black;
            }
        }

        .contact-links a{
            color: $lightBlue !important;
        }
    }
}

div{
    // border: 1px solid darkblue;
}

.card{
    --bs-card-border-color: transparent;
    --bs-card-bg: transparent;

    .card-header{
        background-color: transparent;   
    }
}

